{% load static %}

<!-- Details -->
<section id="details" class="details">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="heading text-center">
                    <p>Appelez nous</p>
                    <h5>Faites vous livrer</h5>
                </div>
                <a href="tel:+212624232775" class="phone">062 423 2775 </a>
            </div>

            <div class="col-sm-6">
                <div class="heading text-center">
                    <p>Check Our Clients'</p>
                    <h5>Rating &amp; Reviews</h5>
                </div>
                <a href="#" class="reviews btn-unique"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- End Details-->