{% load static %}

<div class="col-md-4 contact">
        <div class="header">
            <h6>Contact</h6>
        </div>
        <ul class="contact list-unstyled">
            <li><span class="icon-map text-primary"></span>Conakry, Minière</li>
            <li><a href="mailto:ansoumanekeita825@gmail.com"><span class="icon-phone text-primary"></span>ansoumanekeita825@gmail.com</a></li>
            <li><span class="icon-mail text-primary"></span>224 384 483 293</li>
            {# <li><span class="icon-printer text-primary"></span>333-999-666</li> #}
        </ul>
</div>